<template>
  <section class="container">
    <div>
      <app-logo/>
      <h1 class="title">
        Second page
      </h1>
      <h2 class="subtitle">
        Articles:
      </h2>
      <ul>
        <li v-for="(article, i) in articles" :key="i">
          <p>{{ article.title }}</p>
        </li>
      </ul>
      <div class="links">
        <router-link to="/">Перейти к Home</router-link>
      </div>
    </div>
  </section>
</template>

<script>
import AppLogo from '~/components/AppLogo.vue'
import axios from 'axios'

export default {
  components: {
    AppLogo,
  },

  asyncData({app}) {
    // Get canonical link formm app.head.link array
    return app.$axios.$get(app.head.link[1].href + '/api/articles').then(articles => {
      return {articles};
    });
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>

